html{
    padding-top: 0;
    font-family: "Montserrat", serif;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}


a{
    text-decoration: none;
}


/* Nav */

header {
    background-color: #fff;
    width: 100%;
    height: 100px;
    z-index: 3;
}

header ul {
    list-style: none;
    overflow: hidden;
    background-color: white;
    height: 92vh;
    text-align: center;
}

header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

header li a:hover,
header .menu-btn:hover {
    background-color: #f4f4f4;
}

/* menu */

header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 40px 30px;
    position: relative;
    user-select: none;
}

header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

header .menu-icon .navicon:before {
    top: 7px;
}

header .menu-icon .navicon:after {
    top: -7px;
}

/* menu btn */

header .menu-btn {
    display: none;
}

header .menu-btn:checked ~ .menu {
    max-height: 30vh;
    padding: 60px 0;
}

header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

header .menu a:focus .menu{
    display: none;
}

.logo {
    position: absolute;
    display: block;
    float: left;
    font-size: 2em;
    text-decoration: none;
    width: 150px;
    margin-left: 20%;
}

.shop{
    position: absolute;
    margin-top: 25px;
    margin-left: 70%;
}

.user{
    text-decoration: none;
    width: 25px;
}

.basket{
    margin-left: 10px;
    width: 30px;
}


/* Main */

.img{
    background-image: url("images/back.png");
    background-size: cover;
    background-position: top;
    width: auto;
    height: 100vh;
}

.nosbox{
    position: absolute;
    display: block;
    font-family: "Montserrat Medium", serif;
    font-size: 17px;
    width: 180px;
    height: 65px;
    margin-top: 540px;
    margin-left: 15%;
    opacity: 86%;
}

main h1{
    font-size: 23px;
    margin-top: 60px;
    margin-bottom: 62px;
    text-align: center;
}

.content{
    justify-content: center;
}

.content img{
    width: 110px;
}

.content h2{
    font-size: 20px;
}
.content p{
     font-size: 15px;
 }

.container{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 6%;
    margin-left: 6%;
}

hr{
    margin: 100px auto;
    width: 85%;
    height: 6px;
    background-color: #707070;
    border: none;
}


.text{
    margin-left: 21px;
}

.textmid{
    margin-right: 20px;
}

.card{
    overflow-x: scroll;
    display: flex;
}

.article{
    width: 288px;
    text-align: center;
    margin: 80px 55px 65px 55px;
}

.article h2{
    font-size: 18px;
    font-weight: bold;
}

.article p{
    font-size: 15px;
}

.article img{
    width: 200px;
    height: 130px;
}

.space{
    padding-left : 5px;
}


/* Footer */

.insurance{
    background-color: #F1A82F;
    font-family: "Montserrat Medium", serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

.representation{
    text-align: center;
    background-color: #F1A82F;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.representation p {
    font-size: 14px;
}

.representation img{
    width: 85px;
}

.package{
    margin-right: 23%;
}

.credit{
    margin-right: 17%;
}


.logofoot{
    width: 160px;
    margin-left: 10%;
}

.infos{
    display: flex;
    flex-direction: row;
    text-align: center;
}

footer h2{
    font-family: "Montserrat Medium", serif;
    font-size: 16px;
}

footer p{
    font-family: Montserrat, serif;
    font-size: 14px;
}

.help{
    margin-right: 20px;
}


/* Media*/

@media (min-width: 425px) {

    .container{
        margin-right: 10%;
        margin-left: 10%;
    }

    .package {
        margin-right: 27%;
    }

    .credit {
        margin-right: 23%;
    }

    .infos{
        margin-left: 10%;
    }

}

@media (min-width: 495px) {

    .representation{
        flex-wrap: nowrap;
    }

    .package {
        margin-right: 5%;
    }

    .allergene{
        margin-right: 5%;
    }

    .credit{
        margin-right: 5%
    }

    .infos{
        margin-left: 15%;
    }

    .container{
        margin-right: 20%;
        margin-left: 20%;
    }

}



@media (min-width: 769px) {

    /* Header */
    header{
        height: 60px;
        display: flex;
    }

    header li {
        float: left;
    }

    header li a {
        padding: 15px 5px;
        border-right: none;
        font-size: 16px;
    }

    header .menu {
        clear: none;
        float: right;
        max-height: none;
        height: 100%;
        flex: 1;
    }

    header .menu-icon {
        display: none;
    }

    header ul{
        background-color: #ffffff;
        height: 35%;
    }

    header .menu {
        margin-left: 20%;
    }

    .logo{
        margin-left: 5%;
    }

    .shop{
        margin-left: 86%;
    }


    /* Main */

    .content{
        display: flex;
    }

    .container{
        display: block;
        text-align: center;
        margin-right: 5%;
        margin-left: 5%;
    }

    .containermid{
        display: flex;
        flex-direction: column-reverse;
    }

    .containerend{
        padding-bottom: 0;
        border-bottom: none;
        border-width: 0;
    }

    .text{
        margin-left: 0;
    }

    .textmid{
        margin-right: 0;
    }

    .article{
        margin: 35px 70px 65px 110px;;
    }


    /* Footer */

    .logofoot{
        margin-left: 20%;
    }

    .infos {
        margin-left: 28%;
    }


}


@media (min-width: 1440px) {


    /* Header */

    header .menu {
        margin-left: 30%;
    }

    .logo {
        margin-left: 18%;
    }

    .shop {
        margin-left: 70%;
    }


    /* Main */

    .nosbox {
        margin-left: 30%;
    }

    .container p{
        width: 243px;
        height: 76px;
    }

    .containerstart{
        margin-left: 0;
    }

    .containermid{
        margin-left: 0;
    }

    .containerend{
        margin-left: 0;
        margin-right: 0;
    }

    .article {
        margin: 35px 70px 65px 184px;
    }

    /* Footer */

    .logofoot {
        margin-left: 30%;
    }

    .infos {
        margin-left: 38%;
    }

}


